html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 1190px;
  @include f-montserrat-regular;
  background-color: #fff;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
