// Palette
$white: #FFF;
$gray: #8E8C8C;
$gray-light: #F8F8F8;
$gray-dark-strong: #333;
$mine-shaft: #222;
$robins-egg-blue: #00C8C8;
$don-juan: #575153;
$dove-gray: #727272;
$boulder: #777;
$dusty-gray: #999;
$abbey: #454647;

// Brand colors
$color-accent: $robins-egg-blue;

// Semantic color names
$color-text-brand-heading: $don-juan;
$color-text-brand-subheading: $dove-gray;
$color-text-brand-main: $gray;
$color-bg-header-topline: $gray-dark-strong;
$color-bg-nav-btn-sale: $gray-dark-strong;
$color-bg-header-underline: $gray-light;
$color-text-topline-currency: $boulder;
$color-text-topline-login: $dusty-gray;
$color-text-topline-basket: $white;
$color-bg-topline-basket: $robins-egg-blue;
$color-bg-slider: $gray-light;
$color-text-slider-btn: $abbey;
$color-text-nav-btn-sale: $white;
$color-text-nav-main-categories: $mine-shaft;
$color-text-nav-main-categories-active: $robins-egg-blue;
$color-text-nav-main-categories-search: $dusty-gray;
$color-bg-subnav: $gray-light;
$color-text-subnav-heading: $don-juan;
$color-text-subnav-item: $dove-gray;
$color-text-items-filter-item-active: $robins-egg-blue;
$color-text-items-filter-item: $dove-gray;
$color-text-items-item-price: $dusty-gray;
$color-text-items-item-heading: $dove-gray;
$color-text-items-item: $gray;
$color-text-lookbook-item-heading: $don-juan;
$color-text-lookbook-item: $dove-gray;
$color-text-lookbook-btn: $abbey;
$color-text-lookbook-btn-active: $gray-light;
$color-bg-lookbook-btn: $gray-light;
$color-bg-lookbook-btn-active: $robins-egg-blue;
$color-bg-lookbook-item: $gray-light;
$color-bg-footer: $gray-light;
$color-bg-footer-banner-award: $gray-dark-strong;
$color-text-footer-banner-award: $white;
$color-bg-banner-social: $robins-egg-blue;
$color-text-footer-heading: $don-juan;
$color-text-footer: $dove-gray;
$color-bg-footer-bottomline: $gray-dark-strong;
$color-text-footer-label: $dusty-gray;
$color-text-footer: $boulder;
$color-text-hero: $white;
