.awards {
  font-size: 0;

  &__img {
    display: inline-block;

    &:first-child {
      margin-right: 36px;
    }

    &:nth-child(2) {
      margin-right: 70px;
    }

    &:nth-child(3) {
      position: relative;
      top: -10px;
    }
  }
}
