.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 40px;
  color: $white;
  text-decoration: none;
  transition: 0.3s;

  &--basket {
    width: 100%;
    height: 45px;
    padding-left: 18px;
    background-color: $color-accent;
    transition: background-color .3s;

    &:hover {
      background-color: darken($color-accent, 10%);
    }

    .icon-basket {
      position: relative;
      top: 3px;
      margin-right: 13px;
      font-size: 20px;
    }
  }
}
